body {
    box-sizing: border-box;

    width: auto;
    margin: 0 auto;
}

input::-moz-placeholder {
    color: #000;
}

input::-webkit-input-placeholder {
    color: #000;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #000;
    padding-left: 24px;
    /*margin-bottom: 5px;*/
}

.header__text {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
}

main {
    padding: 5px 40px 0 30px;
}

.search__input {
    position: relative;
    display: flex;
    align-items: center;
    height: 95px;
    /*border: 1px dashed red;*/
}

.search__input:after {
    position: absolute;
    content: '';
    background-image: url(../images/close.svg);
    /*top: 0;*/
    left: 206px;
    width: 10px;
    height: 10px;
}

.search__input-field {

    height: 40px;
    width: 100%;
    max-width: 938px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    background: #fff url("../images/search.png") no-repeat left 16px center;
    padding: 0 8px 0 56px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}



.search__input-searchbtn {
    width: 145px;
    height: 40px;
    background: #F1BD45;
    border-radius: 0 3px 3px 0;
    border: none;
    margin-right: 11px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    letter-spacing: 0.5px;
}


.search__input-closebtn {
    width: 117px;
    height: 40px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    background-color: #fff;
    letter-spacing: 0.5px;
}

.search__results {
    height: 157px;
    /*border: 1px dashed red;*/
    padding-left: 10px;
    margin-bottom: 5px;
    overflow: auto;
}

.search__results_header {
    /*border: 1px dashed red;*/
    display: flex;
    align-items: baseline;
    /*margin-bottom: 20px;*/
}

.search__results_header h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    margin: 0;
    margin-right: 34px;
    font-weight: normal;
}

.search__results_header p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #8B8B8B;
}

.search__results_categories {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.search__results_category {
    display: flex;
}

.search__results_category img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.search__results_category-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 37px;
}

.search__results_category-text::after {
    position: absolute;
    top: 0;
    right: -22px;
    content: '';
    width: 0;
    height: 60px;
    border: 1px solid #B9B9B9;
    /*transform: rotate(90deg);*/
}

.search__results_category:last-child .search__results_category-text{
    margin-right: 0;
}

.search__results_category:last-child .search__results_category-text::after {
    display: none;
}

.search__results_category:last-child .search__results_category-text::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(269.76deg, #FFFFFF 62.83%, rgba(255, 255, 255, 0) 145.7%);
}

.search__results_category-text p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

.search__results_category-text p:first-child {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.search__results_category-text p:nth-child(2) {
    font-size: 12px;
    line-height: 16px;
    color: #8B8B8B;
}

.search__goods {
    display: flex;
}

.search__goods_sidebar {
    /*min-width: 300px;*/
    width: 24%;
    padding-left: 10px;
    /*border: 1px dashed red;*/
    margin-right: 43px;
}



.search__goods_sidebar-categories {
    margin-bottom: 50px;
}

.search__goods_sidebar-categories p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.search__goods_sidebar-categories ul {
    padding-left: 0;
    margin-top: 13px;
}

.search__goods_sidebar-categories li {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    margin-bottom: 13px;
}
.search__goods_sidebar-categories a {
    color: #5375B7;
    text-decoration: none;
}

.search__goods_sidebar-categories a span {
    color: #8B8B8B;
    font-size: 12px;
}

.search__goods_sidebar-slider {
    margin-bottom: 32px;
}

.search__goods_sidebar-slider h4 {
     font-family: Arial, sans-serif;
     font-size: 14px;
     line-height: 16px;
     font-weight: bold;
    margin-bottom: 15px;
 }

.search__goods_sidebar-slider p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    /*opacity: 0.5;*/
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 19px;
    white-space: nowrap;
}

.search__goods_sidebar-slider p input {
    width: 81px;
    height: 40px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0 5px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding-left: 8px;
    letter-spacing: 1px;
    /*opacity: 1 !important;*/
}

.slider {
    /*position: relative;*/
    width: 250px;
    height: 4px;
    background: #000000;
    border-radius: 30px;
}

.slider-min, .slider-max {
    position: relative;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}

.slider-min {
    top: -5px;
    left: 13px;
}

.slider-max {
    top: -20px;
    left: 224px;
}

.search__goods_sidebar-brands p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

}

.search__goods_sidebar-brands ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin-top: 14px;
}
.search__goods_checkbox-group {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}

.search__goods_sidebar-brands input {
    opacity: 0.5;
    width: 15px;
    height: 15px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 8px;
    margin-left: 2px;
}

.search__goods_checkbox-group label {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7;
}

.search__goods_checkbox-group label span {
    font-size: 12px;
}

.search__goods_main {
    width: 76%;
    /*border: 1px dashed red;*/
}

.search__goods_main-filter {
    display: flex;
    justify-content: space-between;
}


.search__goods_main-filter span {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.search__goods_main-filter span:first-child {
    margin-right: 9px;
}

.search__goods_main-filter span:nth-child(2) {
    color: #333333;
    margin-right: 11px;
}

.search__goods_main-filter a {
    text-decoration: none;
    margin-right: 2px;
}

.search__goods_main-filter a span {
    color: #5375B7;
}

.search__goods_main-filter>div:last-child {
    display: flex;

}

.search__goods_main-filter select {
    width: 50px;
    height: 33.33px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding-left: 5px;
    margin-top: -10px;
}

.search__goods_main-addition {
    padding-left: 0;
    display: flex;
    list-style: none;
}

.search__goods_main-addition li {
    background: #FFF3D8;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 7px 15px;
    margin-right: 11px;
}

.search__goods_main-grid {
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /*gap: 44px;*/
    grid-column-gap: 44px;
    grid-row-gap: 37px;
}

.search__goods_main-grid div {
    max-width: 260px;
}

.search__goods_main-grid a {
    text-decoration: none;
    /*margin-right: 44px;*/
}

.search__goods_main-grid img {
    width: 100%;
    max-width: 260px;
    /*height: 260px;*/
    border-radius: 3px;
}

.search__goods_main-grid p {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 19px;
    /*max-width: 260px;*/
}

.search__goods_main-grid span:first-child {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-right: 13px;
}

.search__goods_main-grid span:last-child {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #A9A9A9;
}

.goods_main-grid_price {
    margin-bottom: 12px
;
}

.search__goods_main-grid button {
    width: 100%;
    background: #F1BD45;
    border-radius: 3px;
    padding: 12px 0;
    border: none;
    /*margin-top: 15px;*/
}

.search__goods_main-pagination {
    padding-top: 42px;
    padding-bottom: 53px;
}

.search__goods_main-pagination span {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    opacity: 0.5;
}

.search__goods_main-pagination span:first-child {
    margin-right: 25px;
}

.search__goods_main-pagination span:nth-child(2) {
    margin-right: 5px;
    opacity: 1;
}

.search__goods_main-pagination span:nth-child(3) {
    margin-right: 3px;
    opacity: 1;
}

.search__goods_main-pagination span:last-child {
    position: relative;
}

.search__goods_main-pagination span:last-child::after {
    position: absolute;
    right: -30px;
    bottom: 4px;
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

@media (min-width: 1280px) {
    main {
        max-width: 1280px;
        margin: 0 auto;
    }
    .header__wrap {
        width: 1280px;
        margin: 0 auto;
    }

    .search__goods_sidebar-slider p input {
        width: 110px;
        margin: 0 5px 0 6px;
        padding-left: 14px;
    }

    .slider {
        /*position: relative;*/
        width: 290px;
    }
    .slider-max {
        left: 268px;
    }

}

@media (max-width: 1024px) {
    .search__results_header h2 {
        font-size: 24px;
        margin-right: 15px;
    }

    .search__results_header p {
        font-size: 12px;
    }

    .search__goods_main-filter a {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .search__goods_sidebar {
        width: 29%;
        margin-right: 30px;
    }

    .search__goods_sidebar-slider p input {
        height: 35px;
        margin: 0 4px;
    }

    .slider {
        width: 210px;
    }

    .slider-max {
        left: 184px;
    }
}

@media (max-width: 860px) {
    main {
        padding: 5px 35px 0 25px;

    }
    .search__results_header h2 {
        font-size: 18px;
    }

    .search__results_header p {
        font-size: 11px;
    }
}

@media (min-width: 769px) and (max-width: 860px) {
    .search__goods_sidebar-slider p input {
        width: 74px;
        height: 30px;
        padding-left: 4px;

    }
}

@media (max-width: 768px) {
    main {
        padding: 5px 30px 0 20px;
    }

    .search__goods {
        flex-direction: column;
    }

    .search__goods_sidebar, .search__goods_main {
        width: 100%;
    }

    .search__goods_sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0;
    }

    .search__goods_sidebar-categories {

        order: 1;
    }

    .sidebar_wrapper {
        order: 0;
        /*margin-right: 40px;*/
    }

}
